@model Plenum.Models.PlenumPageDataModel

@using Plenum.Business
@using Plenum.Models

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = Model.Page.Name;
    ViewBag.MetaKeywords = Model.Page.GetFieldValue("MetaKeywords");
    ViewBag.MetaDescription = Model.Page.GetFieldValue("MetaDescription");

    List<BaseDataModel> sale = (List<BaseDataModel>)Model.Page.GetFieldValue("Destacados");
    List<BaseDataModel> offers = (List<BaseDataModel>)Model.Page.GetFieldValue("Ofertas");
}


<div class="box-full">

    <div class="left-box">
        <div class="left-link-box">
            <div class="left-heading">
                <div class="left-heading-text">Nuestras categor&iacute;as</div>
            </div>
            <div class="left-ul-link">
                <ul>
                    <li><a href="/Camisetas">Camisetas</a></li>
                    <li><a href="/Tecnologia">Tecnolog&iacute;a</a></li>
                    <li><a href="/Articulos-Deportivos">Art&iacute;culos Deportivos</a></li>
                    <li><a href="/Perfumeria">Perfumer&iacute;a</a></li>
                    <li><a href="/Mascotas">Mascotas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right-box">

        <div class="right-border-box">

            <div class="box-197">
                <div class="sale-box">SALE</div>
                <div class="sale-box1">DESTACADOS</div>
                <div class="border-b"></div>
                <div class="border-b1"></div>
                <!-- <div class="up-to">UPTO 20% OFF SALE</div> -->
                <div class="border-b1"></div>                
            </div>



            <div class="box-665">


                @if (sale != null && sale.Count > 0)
                {
                    foreach (var item in sale)
                    {
                        <div class="box-202">
                            <div class="box-img-101">
                                <a href="@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).Link"><img src="@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).GetFileFieldUrl("FeaturedImage")" style="width:101px; height:110px;" border="0" align="left" /></a>
                                <div class="p-rixe">$120.000</div>                    </div>
                            <div class="heading-p1">&nbsp;</div>

                            <div class="gr-box1"><span class="font-size20">@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).Name</span></div>

                            <div class="gr-box0">
                                Camiseta original Nike
                            </div>

                        </div>                        
                    }
                }


            </div>


        </div>

    </div>



</div>

<div class="footer-product">

    <div class="left-bar">
        <img src="/content/images/ex.png" width="198" height="194" border="0" align="left" />
        <img src="/content/images/ex1.png" width="198" border="0" align="left" />
    </div>



    <div class="middel-box">

        <div class="first-product">

            <div class="heading-first">
                <div class="product-headind-text">LAS OFERTAS</div>                
            </div>

            <div class="product-main">


                @if (offers != null && offers.Count > 0)
                {
                    foreach (var item in offers)
                    {
                        <div class="first-product1">
                            <div class="imag-product">
                                <div class="product-prize">
                                    <div class="box-61">
                                        <div class="prize-p">$120.000</div>
                                    </div>
                                </div>
                                <a href="@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).Link"><img src="@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).GetFileFieldUrl("FeaturedImage")" border="0" style="width:153px; height:154px" align="left" /></a> 
                            </div>
                            <div class="product-name">@PageBO.GetInstance().Get(Convert.ToInt32(item.ID), true).Name</div>
                            <div class="product-name1">Camiseta Real Madrid Blanca</div>
                            <a href="#" class="click-here1">Adicionar al carrito</a>
                        </div>                        
                    }
                }

            </div>

        </div>


        <!--


        <div class="first-product">

            <div class="heading-first">
                <div class="product-headind-text">what' s hot</div>
                <div class="arow-right">
                    <img src="/content/images/arow.png" width="52" height="30" border="0" align="right" />
                </div>
            </div>

            <div class="product-main">


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product5.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product6.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product7.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product8.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>



            </div>

        </div>



            -->

        <!--
        <div class="socal-box">

            <div class="box-217">
                <div class="facebook-h1">
                    <div class="f1">facebook</div>
                </div>
                <div class="socal-f">
                    <div class="face-boox">
                        <img src="/content/images/f1.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                    <div class="face-boox">
                        <img src="/content/images/f2.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                </div>
            </div>




            <div class="box-217">
                <div class="facebook-h2">
                    <div class="f2">twitter</div>
                </div>
                <div class="socal-f">
                    <div class="face-boox">
                        <img src="/content/images/f1.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                    <div class="face-boox">
                        <img src="/content/images/f2.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                </div>
            </div>



            <div class="box-217">
                <div class="facebook-h3">
                    <div class="f3">pinterest</div>
                </div>
                <img src="/content/images/pa1.png" width="208" height="103" class="pa1" />

            </div>



        </div>
            -->



        <div class="footer-blue">
            <div class="need">Necesitas ayuda?</div>
            <a href="#" class="click-here-l">Encuéntrala acá</a>
        </div>





    </div>




    <div class="right-bar">

        <div class="add3">
            <div class="add-heading">ERES UN PROVEEDOR?</div>
            <div class="add-heading1">
                Véndelo con nosotros
            </div>
            <a href="#" class="click-here">Entérate acá</a>
        </div>

        <div class="add1">
            <div class="add1-tx">
                Sabías que la bicicleta<br />
                fué inventada en 1817?
            </div>
            <a href="#" class="add-read">Leer más</a>
        </div>

        <div class="add2">
            <div class="add1-tx">
                Sabías que el fútbol tiene<br />
                su raíz in China
            </div>
            <a href="#" class="add-read">Leer más</a>
        </div>

    </div>


</div>
